.post-content {
    max-width: 900px;
    width: 900px;
    padding: 20px 0;
}

.post__container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #BDBDBD;
}